@media screen and (max-width: 480px){
    .title{
        font-size: 40px;
    }

    .searchbar{
        width: 155px;
    }

    .container-searchbar{
        width: 220px;
    }
}


@media screen and (max-width: 768px){
    .border-course{
        border-bottom: 1px solid #dc3545;
        padding: 0px;
        margin-top: 0;
        margin-left: 0;
    }

    .container-title-card{

        min-height: 100px;
    }

    .data-card{
        text-align: center;
    }
    .container-text-card{
        text-align: center;
    }
}