*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primaryA:#BA251A;
    --primaryB:#7A1811;
    --primaryC:#FA3324;
    --secondaryD:#3B0C08;
    --secondaryE:#E02C1F;
}
/* NAVBAR */

.navbar_color{
    background-color: white;
}

/* menu-botton */
.button-02{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px 50px;
    transition: 0.8s;
    background: linear-gradient(90deg, white 50%, var(--primaryB) 50%);
    background-size: 205%;
    position: relative;
}

.button-02:hover{
    background-position: -120% 0px;
    color: white;
}

.button-2-icon:hover{
    color: var(--secondaryD)

}

.button-2-icon{
    position: absolute;
    left: 8px;
    color: var(--secondaryD)
}




/* HEADER */

/* Search-bar */

.searchbar{
    border-radius: 20px;
    width: 390px;
    border: none;
}

.container-searchbar{
    background-color:black;
    border-radius: 22px;
    border: 1px solid black;
    width: 450px;
}

.iconsearch{
    font-size: 25px;
}


/* header background */
.header{
    background-image: url('/img/header.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-items: end;
}

/* Title */
.title{
    /* font-family: 'Shizuru', cursive; */
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


/* FOOTER */

.footer{
    height: 300px;
}

/* botton footer contact me */
.button-04{
    display: inline-block;
    height: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid rgb(120, 0, 0);
    text-transform: uppercase;
    color: rgb(120, 0, 0);
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.4s;
    position: relative;
}

.button-04:hover{
    border: none;
    transform: scale (1.4);
}

.social{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color:white;
    left: -1px;
    top: -1px;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-04:hover .social{
    opacity: 1;
}

a.button-04-box{
    width: 40px;
    height: 40px;
    background-color: rgb(120, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 1s;
}

a.button-04-box:hover{
    transform: rotateZ(45deg);
}

a.button-04-box i{
    transition: 1s;
}

a.button-04-box:hover i{
    transform: rotateZ(-45deg)
}

/* HOMEPAGE */


.follow_instagram{
    background-color: rgba(0,149,246);
    border: 1px solid transparent;
    color: white;
    width: 100%;
    border-radius: 4px;
}

/* Button card */

.btn-modifica{
    border: 1px solid white;
    background-color: green;
    color: white;
    transition: 0.3s;
}
.btn-elimina{
    border: 1px solid white;
    background-color: red;
    color: white;
    transition: 0.3s;
}
.btn-click{
    border: 1px solid white;
    background-color: var(--primaryB);
    color: white;
    transition: 0.3s;
}

.btn-modifica:hover{
    border: 1px solid var(--primaryB);
    background-color: white;
    color: var(--primaryB);
}

.btn-elimina:hover{
    border: 1px solid var(--primaryB);
    background-color: white;
    color: var(--primaryB);
}

.btn-click:hover{
    border: 1px solid var(--primaryB);
    background-color: white;
    color: var(--primaryB);
}

.container-text-card{
    min-height: 100px;
}

.container-title-card{
    min-height: 180px;
}

/* ABOUT ME */

.google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
  }
  .google-maps > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }